<h1>Add a new answer:</h1>

<%= form_for [@question, @answer] do |f| %>
<%= f.hidden_field :user_name, :value => "#{@user = User.find(session[:user_id]).email}" %>
<br>
<br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <p><%= f.submit %></p>
<% end %>
